@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-row {
  @include flex;
  flex-direction: row;
}

:root {
  // Theme variables
  --primary-color: #27272c;
  --secondary-color: #232327;
  --ternary-color: #232327;
  --text-color: #bdbdbd;
  --info-color: #4b53b7;
  --success-color: #199673;
  --warning-color: #232327;
  --danger-color: #E6367E;
  --white-color: #fff;
  --black-color: #000;
  --gray-color: #ccc;
}

body {
  @include flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  align-items: center;
  background-color: var(--primary-color);
  font-family: "Google Sans";
}